<mat-toolbar color="primary" *ngIf="!isLoginPage">
    <span><strong>Movie Cruiser</strong></span>
    <button mat-button [routerLink]="['/movies/popular']">Popular Movies</button>
    <button mat-button [routerLink]="['/movies/top_rated']">Top Rated Movies</button>
    <button class="watchlist-tab" mat-button [routerLink]="['/movies/watchlist']">Movie Watch List</button>
    <button class="search-tab" mat-button [routerLink]="['/movies/search']">Movie Search</button>
    <button class="logout-tab" mat-button (click)="logoutUser()" >Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>