<form class="user-form" #regFrom="ngForm" (ngSubmit)="registerUser()">
<mat-card>
        <mat-card-header bgcolor="primary" >
            <mat-card-title><h3><strong>Register User</strong></h3></mat-card-title>
            <mat-card-subtitle><hr></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-label class="label-width">Fisrst Name : </mat-label>
            <mat-form-field class="input-width">
                <input matInput name="firstName" id="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" required>
                <mat-error *ngIf="firstName.errors?.required">First Name is mandatory</mat-error>
            </mat-form-field>
            <mat-label class="label-width">Last Name : </mat-label>
            <mat-form-field class="input-width">
                <input matInput name="lastName" id="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required >
                <mat-error *ngIf="lastName.errors?.required">Last Name is mandatory</mat-error>
            </mat-form-field>
            <mat-label class="label-width">User ID : </mat-label>
            <mat-form-field class="input-width">
                <input matInput name="userId" id="userId"  #userId="ngModel" [(ngModel)]="user.userId" required>
                <mat-error *ngIf="userId.errors?.required">User Id is mandatory</mat-error>
            </mat-form-field>
            <mat-label class="label-width">Password : </mat-label>
            <mat-form-field class="input-width">
                <input matInput type="password" name="password" id="password" #password="ngModel" [(ngModel)]="user.password" required >
                <mat-error *ngIf="password.errors?.required">Password is mandatory</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="center">
            <button type="submit" class="reg-user-btn" [disabled]="regFrom.invalid" mat-raised-button color="primary">Register</button>
            <button class="login-btn" mat-raised-button color="primary" [routerLink]="['/login']">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>